#main>.header .header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding: 4px 0 0 0 ;
}
#main>.header .header__nav .item-container{
    display: inline-block;
    position: relative;
}
#main>.header .header__nav .item{
    padding: 4px;
    user-select: none;
    position: relative;
}
#main>.header .header__nav .item-container:not(.non):hover{
    color: #ffffffb3;
    cursor: pointer;
}
#main>.header .header__nav .item:hover{
    color: unset;
}
#main>.header .header__nav .item a:hover{
    cursor: pointer;
}
#main>.header .header__nav .item.sperate{
    margin-left: 8px;
}
#main>.header .header__nav .item.sperate::after{
    content: "";
    height: 1.6rem;
    width: 0;
    border-left: 0.5px solid hsla(0,0%,100%,.22);
    border-right: 0.5px solid hsla(0,0%,100%,.22);
    position: absolute;
    left: -6px;
    top: 4px;
}

#main>.header .header__nav>.header__nav--left .icon{
    margin-right: 4px;
}

#main>.header .header__nav .icon{
    margin-right: 4px;
    position: relative;
    top: 1px;
}

/* QR  */
#main>.header .header__nav .qr{
    display: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 10px;
    padding: 2px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
#main>.header .header__nav .qr>.qr__code>img{
    width: 170px;
}
#main>.header .header__nav .qr>.qr__link{
    padding: 0 10px 5px 10px;
}
#main>.header .header__nav .qr>.qr__link>img{
    width: 70px;
    margin-top: 5px;
}
#main>.header .header__nav .item-container:hover>.qr{
    display: block;
    z-index: 1;
}

/* Item sub  */
#main>.header .header__nav .item-sub{
    background-color: white;
    position: absolute;
    right: 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 4%);
    display: none;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
}
#main>.header .header__nav .item-sub>.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -2%;
    left: calc(100% - 55px);
}
#main>.header .header__nav .item-sub>.infor{
    width: 400px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
}
#main>.header .header__nav .item-sub>.infor>.infor--box{
    margin: auto;
    display: flex;
    flex-direction: column;
}
#main>.header .header__nav .item-sub>.infor>.infor--box img{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
}
#main>.header .header__nav .item-sub>.notifi__active{
    display: flex;
}
#main>.header .header__nav .item-sub>.notifi__active button{
    flex: 1;
    height: 40px;
    border: none;
}
#main>.header .header__nav .item-sub>.notifi__active button:hover{
    background-color: #e8e8e8;
    cursor: pointer;
    color: #ee4d2d;
}
#main>.header .header__nav .item-container:hover .item-sub{
    display: block;
    z-index: 1;
}

/* danh sách trong thông báo  */
#main>.header .header__nav .item-sub>.infor>.infor__header {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    color: #00000042;
    padding: 0 10px;
}
#main>.header .header__nav .item-sub>.infor>.infor__list{

}
#main>.header .header__nav .item-sub>.infor>.infor__list>.infor__item{
    color: black;   
    padding: 8px 10px; 
}
#main>.header .header__nav .item-sub .infor__list .infor__item>.infor__item--img>img{
    height: 40px;
    object-fit: contain;
}

#main>.header .header__nav .item-sub .infor__list>.infor__item{
    display: flex;
    min-height: 87.8px;
    /* flex-direction: column; */
}

#main>.header .header__nav .item-sub>.infor>.infor__list .infor__item--content{

}

#main>.header .header__nav .item-sub>.infor>.infor__list .infor__item--content .content__header{
    text-transform: uppercase;
    color: #000000cc;
}
#main>.header .header__nav .item-sub>.infor>.infor__list .infor__item--content .content__text{
    color: #0000008A;

}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


/* user layout  */
.user-warp:hover .user-list{
    display: block;
}
.user-warp{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.user-list{
    position: absolute;
    top: calc(100% + 6px);
    right: -3px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 2;

}
.user-list-item{
    padding-left: 0;
    list-style: none;
}

.user-item{
    display: flex;
    width: 165px;
    height: 40px;
    font-size: 1.4rem;
    align-items: center;
    padding-left: 15px;
    /* align-: center; */
}
.user-item:hover{
    background-color: #f8f8f8;
    color: #00bf5a;
}
.user-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 18px 19px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    z-index: -1;
}
.user-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.user-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.user-list::before{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 0;
    background-color: transparent;
}