.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;

}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    padding-top: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer-item{

}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
}
.footer__download-apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}
.footer__download-app{
    height: 16px;
    /* margin: 4px 0; */
}
.footer__bottom{
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
    justify-content: center;
}