/* pagination  */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;

}
.pagination-item__link{
    --height: 30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    font-size: 1.6rem;
    font-size: 2rem;
    font-weight: 300;
}
.pagination-item__icon{

}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}

